* text=auto eol=lf

# Generated source files
tree-sitter-jot/src/*.json linguist-generated
tree-sitter-jot/src/parser.c linguist-generated
tree-sitter-jot/src/tree_sitter/* linguist-generated

# C bindings
tree-sitter-jot/bindings/c/** linguist-generated
tree-sitter-jot/CMakeLists.txt linguist-generated
tree-sitter-jot/Makefile linguist-generated

# Rust bindings
tree-sitter-jot/bindings/rust/* linguist-generated
tree-sitter-jot/Cargo.toml linguist-generated
tree-sitter-jot/Cargo.lock linguist-generated

# Node.js bindings
tree-sitter-jot/bindings/node/* linguist-generated
tree-sitter-jot/binding.gyp linguist-generated
tree-sitter-jot/package.json linguist-generated
tree-sitter-jot/package-lock.json linguist-generated

# Python bindings
tree-sitter-jot/bindings/python/** linguist-generated
tree-sitter-jot/setup.py linguist-generated
tree-sitter-jot/pyproject.toml linguist-generated

# Go bindings
tree-sitter-jot/bindings/go/* linguist-generated
tree-sitter-jot/go.mod linguist-generated
tree-sitter-jot/go.sum linguist-generated

# Swift bindings
tree-sitter-jot/bindings/swift/** linguist-generated
tree-sitter-jot/Package.swift linguist-generated
tree-sitter-jot/Package.resolved linguist-generated

# Zig bindings
tree-sitter-jot/build.zig linguist-generated
tree-sitter-jot/build.zig.zon linguist-generated
